a{
  text-decoration: none;
  color: white;
}
.front-photo{
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-image: url('https://www.battlegroundsmobileindia.com/common/img_m/main_bg_m1.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}
.text-on-image{
  justify-items: center;
  justify-self: center;
}
.heading{
  color:white;
  width:100%;
  font-family:Arial;
  font-weight: bolder;
  margin:0px;
  
}
.heading h1{
  font-size: 70px;
  /* margin-top: 0px; */
}
.stores{
  display: flex;
  

}
.Appstore{
  background-color:black;
  width: 200px;
  border: 5px inset ;
  border-radius: 10px;
  color: whitesmoke;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
}
.Appstore:hover{
  background-color: #2c3e50;
}
.playstore{
  background-color:black;
  border-radius: 10px;
  width: 200px;
  border: 5px inset ;
  color: whitesmoke;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}
.playstore:hover{
  background-color: #2c3e50;
}
.tag1{
  margin-top:40px;
  background-color: orange;
  width:450px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
.tag2{
  background-color: yellow;
  width: 450px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.tag1:hover{
  background-color: orange;
  opacity: 80%;
}
.tag2:hover{
  background-color: #f2c464;
  opacity: 80%;
}
.newsHeading{
  text-align: center;
  /* padding: 10px; */
  font-size: 40px;
  font-weight: bold;
  font-family:arial;
}
.main-news-div{
  /* border: 5px inset brown; */
  display: flex;
  justify-content: space-between;
  /* margin-left: 30px; */
}
.news-divs{
  /* border: 5px inset red; */
  width: 500px;
  height: 350px;
  padding: 10px;
  margin-right: 20px;

}
.news-divs p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.news-pics{
  width: 400px;
}
.news-pics:hover{
  transform: scale(1.01);
}
.partner-bg-div{
  margin-top:10px;
  width: 100%;
  /* height: 65vh; */
  background-image: url('https://www.battlegroundsmobileindia.com/common/img/main/video_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.partner-bg-div h1{
  text-align: center;
  color: aliceblue;
  padding: 10px;
}
.partner-main-div{
  display: flex;
  margin-left: 8px;
  justify-content: space-around;
  
}
.partner-div{
  width: 270px;
  height: 330px;
  border: 3px inset gray;
  border-radius: 10px;
  margin-bottom: 20px;
}
.partner-div:hover{
  transform: scale(1.01);
  box-shadow: 1px 1px 10px 5px white;
}
.partner-div p{
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  justify-self: center;
}
.partner-img{
  width: 270px;
  height: 230px;
}
.partner-img:hover{
  opacity: 50%;
}
.bottom-content{
  width: 100%;
  /* height: 70vh; */
  background-image: url('https://www.battlegroundsmobileindia.com/common/img/main/app_bg.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  
}
.under-bottom-content{
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  /* border: 5px inset; */
  width: 400px;
  justify-items: center;
  justify-self: center;

}
.bottom-content>div>img{
  margin-top:50px
}

.footer-div{
  background-color: black;
  text-align: center;

 
}
.footer-div>ul{
  list-style-type:none;
  display:flex;
  justify-self: center;
}
.footer-div ul li{
padding: 10px;
text-align:right;
}

/* ========== MOBILE VIEW (max-width: 768px) ========== */
@media (max-width: 768px) {

  .heading h1{
    font-size: 36px;
    text-align: center;
  }

  .stores{
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .Appstore,
  .playstore{
    width: 160px;
    font-size: 16px;
  }

  .tag1,
  .tag2{
    width: 90%;
    font-size: 16px;
  }

  .main-news-div{
    flex-direction: column;
    align-items: center;
  }

  .news-divs{
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .news-pics{
    width: 100%;
  }

  .partner-main-div{
    flex-direction: column;
    align-items: center;
  }

  .partner-div{
    width: 90%;
    height: auto;
  }

  .partner-img{
    width: 100%;
    height: auto;
  }

  .under-bottom-content{
    width: 90%;
  }

  .footer-div>ul{
    flex-direction: column;
    align-items: center;
  }

  .footer-div ul li{
    text-align: center;
  }
}


/* ========== TABLET VIEW (max-width: 1024px) ========== */
@media (max-width: 1024px) {

  .heading h1{
    font-size: 48px;
  }

  .main-news-div{
    flex-wrap: wrap;
    justify-content: center;
  }

  .news-divs{
    width: 45%;
    margin-bottom: 20px;
  }

  .partner-main-div{
    flex-wrap: wrap;
  }

  .partner-div{
    width: 45%;
    margin-bottom: 20px;
  }

}
