.nav-elements{
  text-align: left;
  background-color: black;
  padding: 20px;
  display: flex;
  
}
.nav-elements span{
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  
}
.link{
  text-decoration: none;
  color: white;
}
.logo-div{
  background-color: black;
}
.logo-div img:hover{
  transform: scale(1.1);
  background-color: aqua;
  border-radius: 10px;
}
.download-div{
  background-color: yellow;
  display: flex;
  text-align: center;
  margin-left: 20px;
}
.download-div p{
  padding: 10px;
  font-size: 15px;
  margin-left: 10px;
  font-weight: bolder;
}
.download-div p:hover{
 background-color: gray;
  border-radius: 5px;
}
