.nav-elements{
  text-align: left;
  background-color: black;
  padding: 20px;
  display: flex;
  
}
.nav-elements span{
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  
}
.link{
  text-decoration: none;
  color: white;
}
.logo-div{
  background-color: black;
}
.logo-div img:hover{
  transform: scale(1.1);
  background-color: aqua;
  border-radius: 10px;
}
.download-div{
  background-color: yellow;
  display: flex;
  text-align: center;
  margin-left: 20px;
}
.download-div p{
  padding: 10px;
  font-size: 15px;
  margin-left: 10px;
  font-weight: bolder;
}
.download-div p:hover{
 background-color: gray;
  border-radius: 5px;
}

/* ========== MOBILE VIEW (max-width: 768px) ========== */
@media (max-width: 768px) {

  .nav-elements{
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .nav-elements span{
    margin: 5px 0;
    padding: 8px;
    margin-left: 0;
  }

  .logo-div{
    text-align: center;
    margin-bottom: 10px;
  }

  .download-div{
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-top: 10px;
  }

  .download-div p{
    font-size: 14px;
    margin-left: 0;
  }
}


/* ========== TABLET VIEW (max-width: 1024px) ========== */
@media (max-width: 1024px) {

  .nav-elements{
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-elements span{
    margin: 5px 10px;
  }

  .download-div{
    margin-left: 0;
  }

}
